<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3SLNzQzZmU5ZjgxZjFkMCjRUC1kcDbTwTs8y4wfm/agxjxphQlOexnzJfPqAoJwieMqgekAgEPz/HqGbLyhRWamrn+e8grmpqdHi1iWXJRm1HET/kGZ3JRn87/WiGTMd+c9yjTQvuq7YuYy4xrxIMHZRXSWWu36rb67PkaWm9IZfxoJDkf2adUKJHskCHgdAtP1WvwG</string>
	<key>email</key>
	<string>william.aroque@gmail.com</string>
	<key>hash</key>
	<string>LmC0Gs03yHPOQiUmUZeMQeQbA1OvjELzqeeQrQAxr5uUBqF9w/nhcRIttycqv6V/+iB3dztjVqx84WgzszX93xCr57sDyzQMs5C4/YA3jQMJKy76w5ATOUDQfI/rzhw/kRwGb4hgMHAAdmQUJTsDlF4LrSgY/lBUIIDLrm73F6jiJFgRBqgY</string>
</dict>
</plist>
