<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>033DD9D4-0146-4FB0-B0B8-B8880E1B5E48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>631D3EBD-864D-4CC5-9626-3B57852D6034</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E96B1F98-9C66-4072-AD93-354994810EDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>033DD9D4-0146-4FB0-B0B8-B8880E1B5E48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Scripture Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.churchofjesuschrist.org/study/scriptures/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>631D3EBD-864D-4CC5-9626-3B57852D6034</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>script</string>
				<key>subtext</key>
				<string>scrip. + b. + ch. + v. + lang.</string>
				<key>text</key>
				<string>Scriptures</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E96B1F98-9C66-4072-AD93-354994810EDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import re

req = ''

try:
	_, query = sys.argv
	query = query.split(' ')
	
	if len(query) &gt; 0:
		req += query[0]
	if len(query) &gt; 1:
		req += '/' + query[1]
	if len(query) &gt; 2:
		req += '/' + query[2]
	if len(query) &gt; 3:
		req += '.' + query[3]
	if len(query) &gt; 4:
		req += '?lang=' + query[4]
except ValueError:
	pass

sys.stdout.write(req)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>033DD9D4-0146-4FB0-B0B8-B8880E1B5E48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>033DD9D4-0146-4FB0-B0B8-B8880E1B5E48</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>631D3EBD-864D-4CC5-9626-3B57852D6034</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>E96B1F98-9C66-4072-AD93-354994810EDA</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
